@font-face {
    font-family: "Gilroy Semi Bold";
    src: url("/Users/kirideluxe/Documents/Code/font/gilroy/gilroy_SemiBold.eot");
    src: url("/Users/kirideluxe/Documents/Code/font/gilroy/gilroy_SemiBold.woff") format("woff"),
    url("/Users/kirideluxe/Documents/Code/font/gilroy/gilroy_SemiBold.otf") format("opentype"),
    url("/Users/kirideluxe/Documents/Code/font/gilroy/gilroy_SemiBold.svg#filename") format("svg");
}
@font-face {
    font-family: "Gilroy Regular";
    src: url("/Users/kirideluxe/Documents/Code/font/gilroy/gilroy_Regular.eot");
    src: url("/Users/kirideluxe/Documents/Code/font/gilroy/gilroy_Regular.woff") format("woff"),
    url("/Users/kirideluxe/Documents/Code/font/gilroy/gilroy_Regular.otf") format("opentype"),
    url("/Users/kirideluxe/Documents/Code/font/gilroy/gilroy_Regular.svg#filename") format("svg");
    }

    p {
        font-family: "Gilroy Regular";
        font-size: small;
        padding-right: 100px;
    }


    html,body {
        font-family: "Gilroy Semi Bold";
        padding: 0;
        height: 100%;
        background-color: #f0e4da;
    }

    a {
        color: #292929;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: line-through;
    }
    

    header {
        width: 100%;
        position: absolute;
        margin-top: 60px;
    }
    
    header img {
        display: block;
        margin: 0 auto;
        max-height: 50px;
    }
    
    h3 {
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    position: fixed;
    top: 40%;
}

    .Karte {
        bottom: 50%;
        right: 10px;
    }

    .Shop {
        bottom: 50%;
        left: 10px;   
    }
    
    .main_stage {
        height: 100%;
        
    }

    .box {
        height: 600px;
    }

    img.yoga {
        position: relative;
        max-height: 350px;
        top: 200px;
        left: 90px;
        margin-bottom: 300px;
    }
    
    @media only screen and (max-width: 600px) {
        section {
            flex-direction: column;
        }
    
        .box {
            flex-basis: 100%;
            width: 100%;
        }
    }
    
